In [2]:
%matplotlib inline

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

In [10]:
internet_df = pd.read_csv("../data/internet_use.csv")
internet_df.head(6)

ParserError: Error tokenizing data. C error: Expected 4 fields in line 4675, saw 6